<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        
    {% endblock css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block title %}
        
    {% endblock title %}
</head>

<body>
    <div id="navbar">
        <img id="logo" src="{% static 'home/images/logo-2.png' %}" alt="logo" height="50">
        <div class="d-flex justify-content-end">
            <div class="menu p-2 bd-highlight"><a href="{% url 'home:index' %}" class="navigation"> Home </a> &nbsp;</div>
            <div class="menu p-2 bd-highlight"><a href="{% url 'home:index' %}#education" class="navigation"> Education </a> &nbsp;</div>
            <div class="menu p-2 bd-highlight"><a href="{% url 'home:index' %}#experience" class="navigation"> Experience </a> &nbsp;</div>
            <div class="menu p-2 bd-highlight"><a href="{% url 'home:more' %}" class="navigation"> More </a> &nbsp;</div>
            <div class="menu p-2 bd-highlight"><a href="{% url 'story1:index' %}" class="navigation"> Story1 </a> &nbsp;</div>
        </div>
    </div>
    {% block content %}
        
    {% endblock content %}
    <section id="footer">
        <div>
            <img id="footer" src="{% static 'home/images/footer.png' %}" alt="footer">
        </div>
    </section>
</body>