{% extends 'home/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock css %}

{% block title %}
<title>Andhikuy!</title>
{% endblock title %}

{% block content %}
    

    <section id="home">
        <div id="konten-home" class="d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight"><p>Halo! Nama saya Andhika Rifki Alfariz. Teman-teman biasa memanggil saya Andhika. Saya adalah seorang mahasiswa Fasilkom Universitas Indonesia. Saya adalah orang yang cukup aktif dan gemar bersosialisasi dengan banyak orang.</p></div>
            <div class="p-2 bd-highlight"><img id="foto-andhika" src="static/home/images/andhika-1.png" alt="foto-Andhika" height="400"></div>
          </div>
        </div>
    </section>

    <section id="education">
        <h1>Education</h1>
        <img class="line" src="static/home/images/Line.png" alt="Line">
        
        <div class="d-flex justify-content-around">
            <figure class="logo-pendidikan">
                <img id="SD-1" src="static/home/images/Nurul-Fatimah.jpg" alt="SDI-Nurul-Fatimah" height="200">
                <figcaption>SDI Nurul Fatimah<br>2007-2010</figcaption>
            </figure>
        
            <figure class="logo-pendidikan">
                <img id="SD-2" src="static/home/images/Alfalah.png" alt="SDI-Al-Falah-1-Pagi" height="200">
                <figcaption>SDI Al-Falah 1 Pagi<br>2010-2013</figcaption>
            </figure>

            <figure class="logo-pendidikan">
                <img id="SMP" src="static/home/images/SMPN-111.png" alt="SMPN-111-Jakarta" height="200">
                <figcaption>SMPN 111 Jakarta<br>2013-2016</figcaption>
            </figure>
        </div>
        
        <div class="d-flex justify-content-around">
            <figure class="logo-pendidikan">
                <img id="SMA" src="static/home/images/SMAN78.png" alt="SMAN-78-Jakarta" height="200">
                <figcaption>SMPN 78 Jakarta<br>2016-2019</figcaption>
            </figure>

            <figure class="logo-pendidikan">
                <img id="Kuliah" src="static/home/images/Fasilkom.png" alt="Fasilkom-UI" height="200">
                <figcaption>Fasilkom UI<br>2019-Sekarang</figcaption>
            </figure>   
        </div>
    </section>

    <section id="experience">
        <h1>Experience</h1>
        <img class="line" src="static/home/images/Line.png" alt="Line">
        <div class="d-flex justify-content-around">
            <figure class="logo-organisai">
                <img id="rohis78" src="static/home/images/logo-rohis.png" alt="Rohis-78" height="200">
                <figcaption>Ketua Umum<br>Rohis78 2017-2018</figcaption>
            </figure>

            <figure class="logo-organisai">
                <img id="pemira" src="static/home/images/pemira.png" alt="Pemira-Fasilkom" height="200">
                <figcaption>Staf Pemungutan Suara<br>Pemira Fasilkom UI 2019</figcaption>
            </figure>
        </div>

        <div class="d-flex justify-content-around">
            <figure class="logo-organisai">
                <img id="bem" src="static/home/images/logo-bem.png" alt="BEM-Fasilkom" height="200">
                <figcaption>Staf Kajian dan Aksi Strategis<br>BEM Fasilkom UI 2020</figcaption>
            </figure>
            
            <figure class="logo-organisai">
                <img id="siwak" src="static/home/images/siwak.png" alt="SIWAK-NG" height="200">
                <figcaption>PJ Akomodasi<br>SIWAK-NG 2020</figcaption>
            </figure>
        </div>

        <div class="d-flex justify-content-around">
            <figure class="logo-organisai">
                <img id="fuki" src="static/home/images/FUki.png" alt="FUKI-Fasilkom" height="200">
                <figcaption>Staf Kemakmuran Musholla FUKI<br>FUKI Fasilkom UI 2020</figcaption>
            </figure>

            <figure class="logo-organisai">
                <img id="rk" src="static/home/images/rk-warna.png" alt="Rumah-Kepemimpinan" height="200">
                <figcaption>Peserta Rumah Kepemimpinan<br>Ksatria X Jakarta</figcaption>
            </figure>   
        </div>
    </section>

{% endblock content %}
