{% extends 'home/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock css %}

{% block title %}
<title>Andhikuy! - More</title>
{% endblock title %}

{% block content %}

<section id="more">
    <h1>More About Me</h1>
    <img class="line" src="{% static 'home/images/Line.png' %}" alt="Line">
    
    <div class="d-flex justify-content-around">
        <div>
            <h2>Hobi</h2>
            <ul>
                <li>Futsal</li>
                <li>Badminton</li>
                <li>Berenang</li>
                <li>Gaming</li>
            </ul>
        </div>
        <div>
        <h2>Interest</h2>
        <ul>
            <li>Cyber Security</li>
            <li>Social</li>
            <li>Politics</li>
            <li>Gaming</li>
            <li>Anime</li>
            <li>Movies</li>
        </ul>
        </div>
    </div>
</section>

{% endblock content %}

